{% extends 'base.html' %}
{% load i18n %}

{% block head %}
{% endblock head %}

{% block title %}{% trans 'About' %}{% endblock title %}

{% block main %}
    <div class="page-header" xmlns="http://www.w3.org/1999/html">
        <h1>{% trans 'About' %}</h1>
    </div>

    <div class="content">
        <br/>
        <h4>这个网站</h4>
        <p style="line-height: 2; background-color: #f9f9f9">
          根据GitHub上vitorfs发布的Bootcamp源码基础上作修改<br/>
          作者GitHub地址：<a href="https://github.com/vitorfs" target="_blank">https://github.com/vitorfs</a>
        </p>
        <p style="line-height: 2; background-color: #f9f9f9">修改后的代码发布在Git@OSC：
          <a href="http://git.oschina.net/lichun19960112/Bootcamp" target="_blank">
            http://git.oschina.net/lichun19960112/Bootcamp
          </a>
        </p>

    </div>
{% endblock main %}
